<div class="col-sm-10 col-sm-offset-2">
	<header>
		<h1>Consumo em tempo real</h1>

		<hr />

		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="">Tensão</a></li>
			<li role="presentation"><a href="">Corrente</a></li>
			<li role="presentation"><a href="">Potência</a></li>
		</ul>
	</header>

	<epoch-live-line chart-height="300" chart-data="opcoes" chart-stream="stream" chart-range="
	[0, 200]" chart-axes="['left','bottom']"></epoch-live-line>
		
	<hr>
	<a ng-href="#/casas">VOLTAR</a>
</div>